In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
%matplotlib inline

import datetime
from os import listdir
from os.path import isfile, join
import glob
import re

from fancyimpute import MICE
import statsmodels.formula.api as smf


#read data set into a pandas dataframe
df = pd.read_csv('~/Documents/Repository/Capstone-1_WorldBank_GenderData/Data.csv')

In [3]:
df.head(2)

,Country.Name,Country.Code,Indicator.Name,Indicator.Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Arab World,ARB,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.585854,5.611509,7.350393,8.645366,10.059527,12.358258,15.225028,17.751386,21.102336,NaN
1,Arab World,ARB,"Access to anti-retroviral drugs, male (%)",SH.HIV.ARTC.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.407830,6.393077,7.520210,9.119101,10.627401,11.652603,13.841550,15.956337,18.406402,NaN

In [4]:
# Melting the individual years columns to be one column with the individual years as rows
id_vars = ["Country.Name",
           "Country.Code",
           "Indicator.Name",
          "Indicator.Code"]

dfmelt = pd.melt(frame=df,id_vars=id_vars, var_name="year", value_name="value")

# Formatting 
dfmelt["year"] = dfmelt["year"].str.extract('(\d+)', expand=False).astype(int)
dfmelt["value"] = dfmelt["value"].astype(float)

# Cleaning out unnecessary rows with empty values
dfmelt = dfmelt.dropna()

dfmelt = dfmelt[["Country.Name",
         "Country.Code",
         "Indicator.Name",
         "Indicator.Code",
         "year",
         "value"]]

dfmelt = dfmelt.sort_values(ascending=True, by=["Country.Name","Indicator.Name","year"])

In [22]:
dfmelt.head()

,Country.Name,Country.Code,Indicator.Name,Indicator.Code,year,value
7269408,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2000,0.0
7450352,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2001,0.0
7631296,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2002,0.0
7812240,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2003,0.0
7993184,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2004,0.0

In [5]:
#Find out which years have the least # of missing values
dfmelt.year.value_counts().sort_values(ascending =False).head(16)

2011    47985
2014    44370
2010    42365
2012    41820
2000    39529
2009    37999
2013    37871
2005    37647
2007    36995
2006    36756
2008    36748
2004    34423
2002    33683
2003    33428
2001    33347
1999    31201
Name: year, dtype: int64

In [6]:
#restrict the data to years between 1999 and 2015
df2k = dfmelt[(dfmelt.year > 1999) & (dfmelt.year<2015)]
df2k.head()

,Country.Name,Country.Code,Indicator.Name,Indicator.Code,year,value
7269408,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2000,0.0
7450352,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2001,0.0
7631296,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2002,0.0
7812240,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2003,0.0
7993184,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2004,0.0

In [7]:
# Unmelting/unstacking column "Indictor.Name" to make each 'indicator' variable its own row
dfvars = df2k.pivot_table(index=["Country.Name","year"], columns="Indicator.Name", values="value")
dfvars.reset_index(drop=False, inplace=True)

In [8]:
dfvars.head(10)

Indicator.Name,Country.Name,year,"Access to anti-retroviral drugs, female (%)","Access to anti-retroviral drugs, male (%)","Account at a financial institution, female (% age 15+) [ts]","Account at a financial institution, male (% age 15+) [ts]","Adolescent fertility rate (births per 1,000 women ages 15-19)","Age at first marriage, female","Age at first marriage, male",Age dependency ratio (% of working-age population),...,Women who own land both alone and jointly (% of women age 15-49): Q3,Women who own land both alone and jointly (% of women age 15-49): Q4,Women who own land both alone and jointly (% of women age 15-49): Q5 (highest),Women who own land jointly (% of women age 15-49),Women who own land jointly (% of women age 15-49): Q1 (lowest),Women who own land jointly (% of women age 15-49): Q2,Women who own land jointly (% of women age 15-49): Q3,Women who own land jointly (% of women age 15-49): Q4,Women who own land jointly (% of women age 15-49): Q5 (highest),Women who were first married by age 18 (% of women ages 20-24)
0,Afghanistan,2000,0.0,0.0,NaN,NaN,153.8456,NaN,NaN,103.254202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2001,0.0,0.0,NaN,NaN,150.0468,NaN,NaN,102.933042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2002,0.0,0.0,NaN,NaN,146.2480,NaN,NaN,102.217020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2003,0.0,0.0,NaN,NaN,140.4764,NaN,NaN,101.290161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2004,0.0,0.0,NaN,NaN,134.7048,NaN,NaN,100.247559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,2005,0.0,0.0,NaN,NaN,128.9332,NaN,NaN,99.078444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,2006,0.0,0.0,NaN,NaN,123.1616,NaN,NaN,99.574274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,2007,0.0,0.0,NaN,NaN,117.3900,NaN,NaN,100.000371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,2008,0.0,0.0,NaN,NaN,111.4708,15.0,25.3,100.215886,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
9,Afghanistan,2009,1.0,0.0,NaN,NaN,105.5516,NaN,NaN,100.060480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#check to see if the nature of missing values is random
#count N/A values in each row and group by year and country
nacount = pd.DataFrame()
nacount['country'] = dfvars['Country.Name']
nacount['year'] = dfvars.year
nacount['nans']= dfvars.isnull().sum(axis=1)
nacount.head()

       country  year  nans
0  Afghanistan  2000   582
1  Afghanistan  2001   600
2  Afghanistan  2002   598
3  Afghanistan  2003   585
4  Afghanistan  2004   572

In [9]:
allnum = dfvars.drop(['Country.Name'], axis =1)
allnum.head()

Indicator.Name,year,"Access to anti-retroviral drugs, female (%)","Access to anti-retroviral drugs, male (%)","Account at a financial institution, female (% age 15+) [ts]","Account at a financial institution, male (% age 15+) [ts]","Adolescent fertility rate (births per 1,000 women ages 15-19)","Age at first marriage, female","Age at first marriage, male",Age dependency ratio (% of working-age population),"Age population, age 0, female, interpolated",...,Women who own land both alone and jointly (% of women age 15-49): Q3,Women who own land both alone and jointly (% of women age 15-49): Q4,Women who own land both alone and jointly (% of women age 15-49): Q5 (highest),Women who own land jointly (% of women age 15-49),Women who own land jointly (% of women age 15-49): Q1 (lowest),Women who own land jointly (% of women age 15-49): Q2,Women who own land jointly (% of women age 15-49): Q3,Women who own land jointly (% of women age 15-49): Q4,Women who own land jointly (% of women age 15-49): Q5 (highest),Women who were first married by age 18 (% of women ages 20-24)
0,2000,0.0,0.0,NaN,NaN,153.8456,NaN,NaN,103.254202,427656.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,0.0,0.0,NaN,NaN,150.0468,NaN,NaN,102.933042,438366.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,0.0,0.0,NaN,NaN,146.2480,NaN,NaN,102.217020,450208.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,0.0,0.0,NaN,NaN,140.4764,NaN,NaN,101.290161,461942.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,0.0,0.0,NaN,NaN,134.7048,NaN,NaN,100.247559,472047.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
micefilled = MICE().complete(allnum)

[MICE] Completing matrix with shape (3945, 687)
[MICE] Starting imputation round 1/110, elapsed time 0.112
[MICE] Starting imputation round 2/110, elapsed time 98.418
[MICE] Starting imputation round 3/110, elapsed time 194.550
[MICE] Starting imputation round 4/110, elapsed time 315.907
[MICE] Starting imputation round 5/110, elapsed time 415.616
[MICE] Starting imputation round 6/110, elapsed time 512.044
[MICE] Starting imputation round 7/110, elapsed time 608.762
[MICE] Starting imputation round 8/110, elapsed time 776.272
[MICE] Starting imputation round 9/110, elapsed time 879.524
[MICE] Starting imputation round 10/110, elapsed time 977.811
[MICE] Starting imputation round 11/110, elapsed time 1100.952
[MICE] Starting imputation round 12/110, elapsed time 1226.016
[MICE] Starting imputation round 13/110, elapsed time 1471.866
[MICE] Starting imputation round 14/110, elapsed time 1732.068
[MICE] Starting imputation round 15/110, elapsed time 1843.456
[MICE] Starting imputation round 16/110, elapsed time 1969.363
[MICE] Starting imputation round 17/110, elapsed time 2112.713
[MICE] Starting imputation round 18/110, elapsed time 2211.444
[MICE] Starting imputation round 19/110, elapsed time 2309.591
[MICE] Starting imputation round 20/110, elapsed time 2439.420
[MICE] Starting imputation round 21/110, elapsed time 2647.369
[MICE] Starting imputation round 22/110, elapsed time 2868.340
[MICE] Starting imputation round 23/110, elapsed time 3065.969
[MICE] Starting imputation round 24/110, elapsed time 3287.636
[MICE] Starting imputation round 25/110, elapsed time 3480.347
[MICE] Starting imputation round 26/110, elapsed time 3610.221
[MICE] Starting imputation round 27/110, elapsed time 3728.356
[MICE] Starting imputation round 28/110, elapsed time 3846.903
[MICE] Starting imputation round 29/110, elapsed time 3983.015
[MICE] Starting imputation round 30/110, elapsed time 4101.782
[MICE] Starting imputation round 31/110, elapsed time 4229.209
[MICE] Starting imputation round 32/110, elapsed time 4371.929
[MICE] Starting imputation round 33/110, elapsed time 4524.654
[MICE] Starting imputation round 34/110, elapsed time 4656.849
[MICE] Starting imputation round 35/110, elapsed time 4794.023
[MICE] Starting imputation round 36/110, elapsed time 4972.287
[MICE] Starting imputation round 37/110, elapsed time 5147.440
[MICE] Starting imputation round 38/110, elapsed time 5324.120
[MICE] Starting imputation round 39/110, elapsed time 5504.012
[MICE] Starting imputation round 40/110, elapsed time 5681.793
[MICE] Starting imputation round 41/110, elapsed time 5859.002
[MICE] Starting imputation round 42/110, elapsed time 6034.547
[MICE] Starting imputation round 43/110, elapsed time 6185.267
[MICE] Starting imputation round 44/110, elapsed time 6305.315
[MICE] Starting imputation round 45/110, elapsed time 6439.668
[MICE] Starting imputation round 46/110, elapsed time 6584.958
[MICE] Starting imputation round 47/110, elapsed time 6717.314
[MICE] Starting imputation round 48/110, elapsed time 6871.855
[MICE] Starting imputation round 49/110, elapsed time 7011.298
[MICE] Starting imputation round 50/110, elapsed time 7149.311
[MICE] Starting imputation round 51/110, elapsed time 7297.341
[MICE] Starting imputation round 52/110, elapsed time 7432.612
[MICE] Starting imputation round 53/110, elapsed time 7544.277
[MICE] Starting imputation round 54/110, elapsed time 7724.206
[MICE] Starting imputation round 55/110, elapsed time 7900.391
[MICE] Starting imputation round 56/110, elapsed time 8081.491
[MICE] Starting imputation round 57/110, elapsed time 8256.312
[MICE] Starting imputation round 58/110, elapsed time 8416.652
[MICE] Starting imputation round 59/110, elapsed time 8594.711
[MICE] Starting imputation round 60/110, elapsed time 8747.828
[MICE] Starting imputation round 61/110, elapsed time 8868.237
[MICE] Starting imputation round 62/110, elapsed time 9006.813
[MICE] Starting imputation round 63/110, elapsed time 9163.119
[MICE] Starting imputation round 64/110, elapsed time 9284.533
[MICE] Starting imputation round 65/110, elapsed time 9413.508
[MICE] Starting imputation round 66/110, elapsed time 9621.507
[MICE] Starting imputation round 67/110, elapsed time 9846.787
[MICE] Starting imputation round 68/110, elapsed time 9975.187
[MICE] Starting imputation round 69/110, elapsed time 10083.375
[MICE] Starting imputation round 70/110, elapsed time 10200.869
[MICE] Starting imputation round 71/110, elapsed time 10347.638
[MICE] Starting imputation round 72/110, elapsed time 10479.996
[MICE] Starting imputation round 73/110, elapsed time 10602.373
[MICE] Starting imputation round 74/110, elapsed time 10724.897
[MICE] Starting imputation round 75/110, elapsed time 10848.647
[MICE] Starting imputation round 76/110, elapsed time 10969.869
[MICE] Starting imputation round 77/110, elapsed time 11106.981
[MICE] Starting imputation round 78/110, elapsed time 11229.998
[MICE] Starting imputation round 79/110, elapsed time 11355.962
[MICE] Starting imputation round 80/110, elapsed time 11466.187
[MICE] Starting imputation round 81/110, elapsed time 11568.246
[MICE] Starting imputation round 82/110, elapsed time 11697.105
[MICE] Starting imputation round 83/110, elapsed time 11836.927
[MICE] Starting imputation round 84/110, elapsed time 11981.344
[MICE] Starting imputation round 85/110, elapsed time 12101.020
[MICE] Starting imputation round 86/110, elapsed time 12235.023
[MICE] Starting imputation round 87/110, elapsed time 12404.122
[MICE] Starting imputation round 88/110, elapsed time 12529.938
[MICE] Starting imputation round 89/110, elapsed time 12651.815
[MICE] Starting imputation round 90/110, elapsed time 12850.305
[MICE] Starting imputation round 91/110, elapsed time 12999.661
[MICE] Starting imputation round 92/110, elapsed time 13118.418
[MICE] Starting imputation round 93/110, elapsed time 13239.447
[MICE] Starting imputation round 94/110, elapsed time 13398.992
[MICE] Starting imputation round 95/110, elapsed time 13576.428
[MICE] Starting imputation round 96/110, elapsed time 13734.042
[MICE] Starting imputation round 97/110, elapsed time 13855.116
[MICE] Starting imputation round 98/110, elapsed time 13990.911
[MICE] Starting imputation round 99/110, elapsed time 14119.325
[MICE] Starting imputation round 100/110, elapsed time 14270.361
[MICE] Starting imputation round 101/110, elapsed time 14434.568
[MICE] Starting imputation round 102/110, elapsed time 14616.889
[MICE] Starting imputation round 103/110, elapsed time 14790.592
[MICE] Starting imputation round 104/110, elapsed time 14930.884
[MICE] Starting imputation round 105/110, elapsed time 15065.254
[MICE] Starting imputation round 106/110, elapsed time 15222.601
[MICE] Starting imputation round 107/110, elapsed time 15377.588
[MICE] Starting imputation round 108/110, elapsed time 15550.553
[MICE] Starting imputation round 109/110, elapsed time 15713.724
[MICE] Starting imputation round 110/110, elapsed time 15841.109

MemoryError:

In [ ]:
simpfilled = SimpleFill().complete(allnum)

In [ ]:
dfvars.plot(x = 'Contraceptive prevalence, any methods (% of women ages 15-49)', y ='Life expectancy at birth, total (years)', kind = 'scatter')

In [ ]:
micefilled.to_csv('wrangled_data.csv')

In [ ]:
simpfilled.to_csv('simplefilled_data.csv')