In [3]:
import pandas as pd
import numpy as np

from sklearn import preprocessing as pp
from fancyimpute import MICE
%pylab inline

df = pd.read_csv('/home/lara/Documents/Repository/Capstone-1_WorldBank_GenderData/finalvars.csv')

# Supervised Learning Modules
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.metrics import classification_report
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

Populating the interactive namespace from numpy and matplotlib

# Data Wrangling

In [4]:
#count non-NaN rows in each column
df.count()

Unnamed: 0     3945
country        3945
life           3699
bc              639
matdeath       3435
teen           3600
gdp            3644
healthspend    3523
eduspend       2100
dtype: int64

In [5]:
#Drop all rows with NaN values and count how many rows are left
dfdrop = df.dropna()
dfdrop.bc.count()

368

In [6]:
#split data into "Causes" and "Effects" of Contraceptive Use
dfcause = df[['bc', 'gdp', 'healthspend', 'eduspend']]
dfeffect = df[['country', 'bc', 'life', 'matdeath', 'teen']]

#count non-NaN values in "Cause" df
dfcause.dropna().count()

bc             370
gdp            370
healthspend    370
eduspend       370
dtype: int64

In [7]:
#Count non-NaN rows in "Effect" df
dfeffect.dropna().count()

country     624
bc          624
life        624
matdeath    624
teen        624
dtype: int64

In [8]:
#save "Effect" df without NaN rows because there are very few rows with NaNs
effect = dfeffect.dropna()

## Using Fancy Impute to interpolate NaN values in the "Causes" df because just dropping them eliminates too much data. The MICE algorithm was chosen because its method looks at each values rather than just a blanketed approach.

In [17]:
#use MICE algorithm in Fancy Impute package to interpolate NaN values in "Causes" df
micefilled = MICE().complete(dfcause)
#turn micefilled nmpy array into pandas df
mice = pd.DataFrame(micefilled, columns= dfcause.columns)

[MICE] Completing matrix with shape (3945, 4)
[MICE] Starting imputation round 1/110, elapsed time 0.001
[MICE] Starting imputation round 2/110, elapsed time 0.019
[MICE] Starting imputation round 3/110, elapsed time 0.029
[MICE] Starting imputation round 4/110, elapsed time 0.038
[MICE] Starting imputation round 5/110, elapsed time 0.047
[MICE] Starting imputation round 6/110, elapsed time 0.056
[MICE] Starting imputation round 7/110, elapsed time 0.064
[MICE] Starting imputation round 8/110, elapsed time 0.107
[MICE] Starting imputation round 9/110, elapsed time 0.112
[MICE] Starting imputation round 10/110, elapsed time 0.128
[MICE] Starting imputation round 11/110, elapsed time 0.142
[MICE] Starting imputation round 12/110, elapsed time 0.153
[MICE] Starting imputation round 13/110, elapsed time 0.168
[MICE] Starting imputation round 14/110, elapsed time 0.264
[MICE] Starting imputation round 15/110, elapsed time 0.303
[MICE] Starting imputation round 16/110, elapsed time 0.330
[MICE] Starting imputation round 17/110, elapsed time 0.342
[MICE] Starting imputation round 18/110, elapsed time 0.354
[MICE] Starting imputation round 19/110, elapsed time 0.371
[MICE] Starting imputation round 20/110, elapsed time 0.379
[MICE] Starting imputation round 21/110, elapsed time 0.399
[MICE] Starting imputation round 22/110, elapsed time 0.413
[MICE] Starting imputation round 23/110, elapsed time 0.422
[MICE] Starting imputation round 24/110, elapsed time 0.427
[MICE] Starting imputation round 25/110, elapsed time 0.435
[MICE] Starting imputation round 26/110, elapsed time 0.440
[MICE] Starting imputation round 27/110, elapsed time 0.443
[MICE] Starting imputation round 28/110, elapsed time 0.514
[MICE] Starting imputation round 29/110, elapsed time 0.530
[MICE] Starting imputation round 30/110, elapsed time 0.534
[MICE] Starting imputation round 31/110, elapsed time 0.564
[MICE] Starting imputation round 32/110, elapsed time 0.597
[MICE] Starting imputation round 33/110, elapsed time 0.614
[MICE] Starting imputation round 34/110, elapsed time 0.634
[MICE] Starting imputation round 35/110, elapsed time 0.641
[MICE] Starting imputation round 36/110, elapsed time 0.650
[MICE] Starting imputation round 37/110, elapsed time 0.663
[MICE] Starting imputation round 38/110, elapsed time 0.668
[MICE] Starting imputation round 39/110, elapsed time 0.674
[MICE] Starting imputation round 40/110, elapsed time 0.679
[MICE] Starting imputation round 41/110, elapsed time 0.685
[MICE] Starting imputation round 42/110, elapsed time 0.690
[MICE] Starting imputation round 43/110, elapsed time 0.695
[MICE] Starting imputation round 44/110, elapsed time 0.700
[MICE] Starting imputation round 45/110, elapsed time 0.703
[MICE] Starting imputation round 46/110, elapsed time 0.708
[MICE] Starting imputation round 47/110, elapsed time 0.714
[MICE] Starting imputation round 48/110, elapsed time 0.728
[MICE] Starting imputation round 49/110, elapsed time 0.733
[MICE] Starting imputation round 50/110, elapsed time 0.770
[MICE] Starting imputation round 51/110, elapsed time 0.777
[MICE] Starting imputation round 52/110, elapsed time 0.787
[MICE] Starting imputation round 53/110, elapsed time 0.796
[MICE] Starting imputation round 54/110, elapsed time 0.806
[MICE] Starting imputation round 55/110, elapsed time 0.815
[MICE] Starting imputation round 56/110, elapsed time 0.824
[MICE] Starting imputation round 57/110, elapsed time 0.833
[MICE] Starting imputation round 58/110, elapsed time 0.845
[MICE] Starting imputation round 59/110, elapsed time 0.851
[MICE] Starting imputation round 60/110, elapsed time 0.855
[MICE] Starting imputation round 61/110, elapsed time 0.859
[MICE] Starting imputation round 62/110, elapsed time 0.863
[MICE] Starting imputation round 63/110, elapsed time 0.867
[MICE] Starting imputation round 64/110, elapsed time 0.871
[MICE] Starting imputation round 65/110, elapsed time 0.875
[MICE] Starting imputation round 66/110, elapsed time 0.879
[MICE] Starting imputation round 67/110, elapsed time 0.882
[MICE] Starting imputation round 68/110, elapsed time 0.886
[MICE] Starting imputation round 69/110, elapsed time 0.890
[MICE] Starting imputation round 70/110, elapsed time 0.894
[MICE] Starting imputation round 71/110, elapsed time 0.898
[MICE] Starting imputation round 72/110, elapsed time 0.901
[MICE] Starting imputation round 73/110, elapsed time 0.905
[MICE] Starting imputation round 74/110, elapsed time 0.909
[MICE] Starting imputation round 75/110, elapsed time 0.913
[MICE] Starting imputation round 76/110, elapsed time 0.917
[MICE] Starting imputation round 77/110, elapsed time 0.920
[MICE] Starting imputation round 78/110, elapsed time 0.925
[MICE] Starting imputation round 79/110, elapsed time 0.953
[MICE] Starting imputation round 80/110, elapsed time 0.991
[MICE] Starting imputation round 81/110, elapsed time 1.006
[MICE] Starting imputation round 82/110, elapsed time 1.015
[MICE] Starting imputation round 83/110, elapsed time 1.038
[MICE] Starting imputation round 84/110, elapsed time 1.045
[MICE] Starting imputation round 85/110, elapsed time 1.048
[MICE] Starting imputation round 86/110, elapsed time 1.052
[MICE] Starting imputation round 87/110, elapsed time 1.056
[MICE] Starting imputation round 88/110, elapsed time 1.060
[MICE] Starting imputation round 89/110, elapsed time 1.064
[MICE] Starting imputation round 90/110, elapsed time 1.067
[MICE] Starting imputation round 91/110, elapsed time 1.071
[MICE] Starting imputation round 92/110, elapsed time 1.075
[MICE] Starting imputation round 93/110, elapsed time 1.079
[MICE] Starting imputation round 94/110, elapsed time 1.083
[MICE] Starting imputation round 95/110, elapsed time 1.086
[MICE] Starting imputation round 96/110, elapsed time 1.090
[MICE] Starting imputation round 97/110, elapsed time 1.094
[MICE] Starting imputation round 98/110, elapsed time 1.098
[MICE] Starting imputation round 99/110, elapsed time 1.101
[MICE] Starting imputation round 100/110, elapsed time 1.105
[MICE] Starting imputation round 101/110, elapsed time 1.109
[MICE] Starting imputation round 102/110, elapsed time 1.112
[MICE] Starting imputation round 103/110, elapsed time 1.116
[MICE] Starting imputation round 104/110, elapsed time 1.121
[MICE] Starting imputation round 105/110, elapsed time 1.126
[MICE] Starting imputation round 106/110, elapsed time 1.133
[MICE] Starting imputation round 107/110, elapsed time 1.140
[MICE] Starting imputation round 108/110, elapsed time 1.145
[MICE] Starting imputation round 109/110, elapsed time 1.150
[MICE] Starting imputation round 110/110, elapsed time 1.174

In [18]:
mice

             bc          gdp  healthspend  eduspend
0      4.900000 -8026.244605     2.983257  4.309097
1     41.966244   119.899037     3.420147  4.677297
2     44.172676   192.153528     0.550723  4.316451
3     10.300000   203.651041     0.607900  4.486272
4     44.870887   224.914712     0.969459  4.201294
5     13.600000   257.175795     0.801919  4.253354
6     18.600000   280.245644     1.062420  4.770771
7     47.093911   380.400955     0.522136  4.537792
8     22.800000   384.131681     1.385584  4.206358
9     41.861826   458.955782     2.586127  4.495530
10    21.800000   569.940729     2.855377  4.511160
11    21.200000   622.379654     2.080093  4.087910
12    45.876015   690.842629     2.920566  3.125620
13    44.830775   653.347488     2.650394  4.544360
14    45.323039   633.947864     2.932834  4.804350
15    57.500000  1175.788981     2.258418  3.286920
16    42.631268  1326.970339     2.292224  3.340600
17    75.100000  1453.642777     2.256326  3.056630
18    45.513062  1890.681557     2.252104  3.064270
19    42.158960  2416.588235     2.679405  3.170080
20    60.100000  2709.142931     2.706455  3.238720
21    46.643583  3005.012903     2.575136  3.157190
22    40.984319  3603.013685     2.629171  3.268680
23    49.808764  4370.539647     2.693898  4.003546
24    69.300000  4114.136545     2.833576  4.694977
25    46.742197  4094.358832     2.476568  4.515289
26    49.391908  4437.811999     2.849171  4.334453
27    49.458868  4247.839852     2.735704  4.253795
28    46.556231  4412.345578     2.835984  3.538000
29    43.546752  4588.649440     2.936373  4.340426
...         ...          ...          ...       ...
3915  45.228818   340.161380     3.719900  1.788190
3916  42.437455   376.981058     3.526559  4.296753
3917  34.200000   376.468040     4.018110  4.443253
3918  43.288295   429.007278     4.187669  4.490119
3919  44.479236   530.553584     3.657084  2.463430
3920  42.477923   691.809459     3.956979  1.735530
3921  45.706205  1030.315360     2.755846  4.465552
3922  40.800000  1103.486577     1.885822  1.240760
3923  43.393844  1365.721205     2.189942  1.099720
3924  44.200063  1134.772998     2.261668  4.352913
3925  43.623470  1456.126526     2.279956  4.419498
3926  43.080772  1635.547304     2.148932  4.370667
3927  44.190770  1724.743564     2.536370  4.306135
3928  44.220628  1839.522481     2.765405  4.323791
3929  49.000000  1725.974549     2.760095  4.349925
3930  46.222597   535.197422     4.367104  3.981510
3931  41.889142   537.717483     3.184205  4.413662
3932  44.134793   499.716415     3.225747  4.452471
3933  45.880240   448.373193     3.224441  4.355339
3934  46.269945   451.171589     3.779543  4.574926
3935  44.254366   443.240136     2.737616  4.418287
3936  60.200000   414.680115     1.058720  4.410176
3937  47.837203   397.956872     0.577384  4.203268
3938  44.062270   327.199084     0.368426  4.712952
3939  64.900000   594.495968     1.483600  3.927550
3940  45.560285   674.268695     1.684360  1.973330
3941  58.500000   768.556409     2.121150  4.655408
3942  42.016986   850.827697     2.771620  4.542883
3943  46.132333   905.500322     2.847450  4.530918
3944  66.900000   931.198185     2.466495  4.180095

[3945 rows x 4 columns]

The MICE algorithm seems to have interpolated mostly logical values, however there are a couple values for GPD that were interpolated to be negative numbers. As negative numbers do not make sense in this context, these values are replaced with their absolute value

In [19]:
cause = mice.abs()

In [20]:
cause.head()

          bc          gdp  healthspend  eduspend
0   4.900000  8026.244605     2.983257  4.309097
1  41.966244   119.899037     3.420147  4.677297
2  44.172676   192.153528     0.550723  4.316451
3  10.300000   203.651041     0.607900  4.486272
4  44.870887   224.914712     0.969459  4.201294

In [22]:
cause.gdp[0] = 119

## The MICE algorithm from Fancy Impute is interpolating negative numbers for GDP, so exploring other algorithms for imputing appears to be necessary

In [16]:
#use KNN algorithm in Fancy Impute package to interpolate NaN values in "Causes" df
knnfilled = KNN(k=2).complete(dfcause)
#turn filled nmpy array into pandas df
dfknn = pd.DataFrame(knnfilled, columns= dfcause.columns)

NameError: name 'KNN' is not defined

In [ ]:
dfknn.to_csv('knn.csv')

In [ ]:
df

### KNN seems to have interpolated an excessively high number for GDP in the

In [ ]:
#use SoftImpute algorithm in Fancy Impute package to interpolate NaN values in "Causes" df
softfilled = SoftImpute().complete(dfcause)
#turn filled nmpy array into pandas df
softdf = pd.DataFrame(softfilled, columns= dfcause.columns)

In [ ]:
softdf

### Soft Impute seems to be interpolating excessively small numbers for all values

In [ ]:
#use MatrixFactorization algorithm in Fancy Impute package to interpolate NaN values in "Causes" df
mffilled = MatrixFactorization().complete(dfcause)
#turn filled nmpy array into pandas df
mfdf = pd.DataFrame(mffilled, columns= dfcause.columns)

In [ ]:
mfdf.head()

Matrix Factorization resulted in negative numbers for Health and Education Spending, which do not make sense.

In [ ]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('DT', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
models.append(('RF', RandomForestClassifier(n_jobs = -1, n_estimators = 500)))

In [ ]:
Y = cause.bc
X = cause[['gdp', 'healthspend', 'eduspend']]

In [ ]:
#a function to evaluate each model
def run_models(IV,DV):
    results = []
    names = []

    for name, model in models:
        kfold = model_selection.KFold(n_splits=10, random_state=11)

        cv_results = model_selection.cross_val_score(model, X=IV, y=DV, cv=kfold, scoring='accuracy')
        print "I created a model", name
        results.append(cv_results)
        print" I added the results to the list"
        names.append(name)
        msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
        print(msg)
'''
    # boxplot algorithm comparison
    fig = pyplot.figure()
    fig.suptitle(title)
    ax = fig.add_subplot(111)
    pyplot.boxplot(results)
    ax.set_xticklabels(names)
    pyplot.ylim(0,1)
    pyplot.show()
'''

In [ ]:
run_models(X, Y)